<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Reglas</ion-item>
      <ion-item>Aplicacion</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>


<ion-header [translucent]="true">
  
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true"
(ionScrollStart)="logScrollStart()"
(ionScroll)="logScrolling($event)"
(ionScrollEnd)="logScrollEnd()" >
 <h1>Inicio</h1>
 <!--<ion-button color="primary" (click)="saludar()" >Siguiente</ion-button> -->

 <ion-button color="primary" (click)="lista()" >Empleos</ion-button>
 <app-fingerprint-auth [icon]="icono" (finish)="saludar2($event)"></app-fingerprint-auth>
 <!--<app-fingerprint-auth [icon]="'camera'" [type]="'camera'" (uploadFinished)="imagenCargada($event)"></app-fingerprint-auth>-->
 
</ion-content>
